<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack Game</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/application.css">
    <!-- HTML5 shim for IE backwards compatibility -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <!--[if !IE 7]>
        <style type="text/css">
          #wrap {display:table;height:100%}
        </style>
      <![endif]-->
  </head>
  <body>
  <div id="wrap">
    <div id="main" class="container-fluid">
      <header class="row-fluid">
        <div class="span9 offset3">
          <a href="/" id="logo" class="pull-left texthide">Ace</a>
          <h1 id="main-title" class="pull-left">Blackjack</h1>
        </div>
      </header>
      <%= yield %>
    </div>
  </div>
  <footer id="footer" class="row-fluid">
    <div  id="nav" class="span8 offset4">
    <span id="bet-amount" class="pull-left">$<%= session[:player_pot]%></span>
      <ul class="chips pull-left">
        <li><a href="/bet_amount?bet_add=5">5</a></li>
        <li><a href="/bet_amount?bet_add=10">10</a></li>
        <li><a href="/bet_amount?bet_add=25">25</a></li>
        <li><a href="/bet_amount?bet_add=50">50</a></li>
      </ul>
      <nav class="pull-left">
        <% if session[:state] == 0 %>
          <form action="/new_player" method="post">
            <input type="text" name="player_name" value="Player1"/>
            <input type="submit" value="Play" class="btn btn-large"/>
          </form>
        <% end %>

        <% if session[:state] == 1 %>
          <form action="/bet" method="post">
            <input type="submit" value="Place Bet" class="btn btn-large btn-inverse"/>
          </form>
          <% if session[:prev_bet] %>
            <form action="/re-bet" method="post">
              <input type="submit" value="Re-Bet $<%=session[:prev_bet] %>" class="btn btn-large btn-inverse"/>
            </form>
          <% end %>
        <% end %>

        <% if session[:state] == 4 %>
          <a href="/again" class="btn btn-large btn-inverse">Play Again</a>  
          <a href="/" class="btn btn-large btn-inverse">Reset</a>  
        <% end %>

        <% if session[:state] == 2 %> 
          <form id="hit_form" action="/game/player/hit" method='post'>
          <input type="submit" class="btn btn-large btn-inverse" value="Hit" />
          </form>
          <form id="stay_form" action="/game/player/stay" method='post'>
          <input type="submit" class="btn btn-large btn-inverse" value="Stay" />
          </form>
        <% end %>
      </nav>
    </div>
  </footer>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/jquery.arctext.js"></script>
  </body>
</html>
