<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack Game</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/application.css">
    <!-- HTML5 shim for IE backwards compatibility -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
  </head>
  <body>
  <div class="container-fluid">
  <header class="row-fluid">
    <div class="span11 offset1">
      <a href="#" id="logo" class="pull-left texthide">Name</a>
      <h1 id="main-title" class="pull-left">Blackjack</h1>
    </div>
  </header>
      <%= yield %>
  </div>

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="js/bootstrap.min.js"></script>
  </body>
</html>
