<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack Game</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/application.css">
    <!-- HTML5 shim for IE backwards compatibility -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  </head>
  <body>
    <div id="main" class="container-fluid">
      <header class="row-fluid">
        <div class="span9 offset3">
          <a href="/" id="logo" class="pull-left texthide">Ace</a>
          <h1 id="main-title" class="pull-left">Blackjack</h1>
        </div>
      </header>
      <div id="table-text" class="container-fluid">
        <div id="blackjack" class="row-fluid">
          <div class="span12">
            <h2 class="text-center">Pays 3-2</h2>
          </div>
        </div>
        <div id="stand" class="row-fluid">
          <div class="span12">
            <h2 class="arc-text text-center">Dealer must stand on 17</h2>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/jquery.arctext.js"></script>
  <script src="/application.js"></script>
  </body>
</html>
